/*
 * base.css
 * Copyright 2011 Baidu Inc. All rights reserved.
 * 
 * path:    base.css
 * desc:    基础样式定义
 * author:  acelan(lanxiaobin@baidu.com)
 * date:   2011/01/11
 */

/**
 * ie6下最小宽度980px
 */
.ie6-out{_margin-left:980px;_zoom:1;}
.ie6-in{_position:relative;_float:left;_margin-left:-980px;}
.min-width-wrap{min-width:980px;_zoom:1;}

/**
 * reset部分
 */
body, div, p, dl, dt, dd, ul, ol, li, hr, pre, fieldset, legend,
input, button, textarea, form, img, h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

body,html{
    font-size:12px;
    color:#333;
}
input:focus{
    outline:none;
}
h3{
    font-size:14px;
}
h4{
    font-size:12px;
}

fieldset, iframe, img {
    border: 0;
}

table{
    table-layout:fixed;
    width:100%;
}
td  *{
    vertical-align:middle;
}

a img {
    display:block;
}

li {list-style: none;}

/* 清除浮动 */
.clearfix{
    *zoom:1;
}
.clearfix:after{
    content:'\20';
    display:block;
    height:0;
    clear:both;
}

/* 小圆角 */
.radius{
    border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
}